<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <h1>My Restaurants</h1>
        <a class="btn" href="/restaurants" >Back to List</a>
        {{{body}}}
    </body>
</html>