<div>
    <h2>Single Restaurant: {{restaurant.name}}</h2>
    

    <h3>title</h3>
    {{restaurant.Menus.menuId.title}}
     <a class="btn" href=""><h4>{{this.title}}</h4></a>
        
    
  

    <img class="item-img" src="{{restaurant.image}}"/>


</div>

      
