<section>
    <h2>Single Restaurant: {{restaurant.name}}</h2>        
        
        <br>
        <h4><a href="{{restaurant.id}}/menus" >Menus</a></h4>
        
        <img class="item-image" src="{{restaurant.image}}" />
        
        

</section>